body {
    background-color: white;
}

.container {
    background: #FFF;
    margin: 2%;
}

.mainBody {
    margin-top: 17px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotipo {
    display: flex;
    align-items: center;
    
}

#logo {
    width: 50px;
    height: 32px;
}

h1 {
    color: #000;
    font-size: 34px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.nav a{
    color: #000;
    font-size: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}


.entrada {
    height: 600px;
    position: relative;
}

#imagen1 {
    height: 100%;
    width: 100%;
}

.cuadro {
    background-color: #FFF;
    width: 623px;
    height: 276px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin-left: 780px;
    margin-top: 170px;
    border-radius: 10px;
    background: #fdf6ec;
}

#parrafo1 {
    color: #cfa545;
    font-size: 52px;
    font-family: Poppins;
    font-style: none;
    font-weight: 800;
    line-height: 65px;
    margin-left: 30px;
    position: relative;
    bottom: 40px;  
}


#cotiza {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 60px;
    width: 345px;
    height: 71.676px;
    padding: 25px 72px;
    gap: 10px;
    flex-shrink: 0;
    background-color: #e8af2b;
    margin-left: 35px;
    border: none;
    flex-shrink: 2;
}

.cuadro a {
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
